html,
body {
    font-size: x-large;
    height: 100%;
    margin: 0;
    background: rgb(56, 105, 207);
    background: linear-gradient(347deg, rgba(56, 105, 207, 1) 0%, rgba(162, 255, 172, 1) 50%, rgba(158, 0, 255, 1) 100%);
    font-family: 'Roboto', sans-serif;
}

.structure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.element {
    margin-bottom: 2rem;
}

.element input {
    font-size: 20px;
    background-color: rgba(164, 193, 255, 0.25);
    border: 1px solid rgb(99, 99, 99);
    border-radius: 6px;
    text-align: center;
    height: 60px;
    width: 200px;
    padding-left: 14px;
    padding-right: 14px;
}

input:focus {
    outline: none;
}

button {
    font-size: 20px;
    width: 200px;
    height: 40px;
    border: 1px solid rgb(99, 99, 99);
    border-radius: 4px;
    background-color: rgb(91, 135, 255);
    color: white;
}

@media (prefers-color-scheme: dark) {
    head > link[rel="shortcut icon"] {
        filter: invert();
    }
}